
* {
	margin: 0px auto; padding: 0px; vertical-align: middle; text-align:center
}
	  html,body{width:100%;height:70%}
      html{overflow-y:scroll}
      body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button{margin:0;padding:0}
      body,h1,h2,h3,h4,input,button{font-family:NanumGothicWeb,verdana,dotum, 
                                             sans-serif;font-size:20px;color:#383d41}
      body{background-color:#fff}
      li{list-style:none}
      #container{width:760px;margin:0 auto;}
      header{ margin-top:100px;margin-bottom:30px;padding:10px}
      header h1{font-size:60px;color:#383d41; }
      nav{margin-left:40px; line-height:50px;clear:both;overflow:hidden}
      nav li{float:left;padding-right:5px;font-family:verdana;}
      nav li a{ text-decoration: none;}
      nav li span{display:inline-block;padding:10px 10px;
                                      border-radius:5px;background-color:#fff}
      section{ width:518px;margin-top:15px; text-align:center }
      article{margin-bottom:10px}
      article h3{font-size:16px}
      footer{line-height:50px;clear:both;padding:20px;
              font-size:0.8em;text-align:center }
	  
      .box {
      		animation-name:moving;
      		animation-duration:3s;
      		animation-iteration-count:infinite;
      		margin: 0px auto; padding: 0px; vertical-align: middle; text-align:center
      }
      @keyframes moving {
      	from{
      		width:400px;
      		background: white;
      		opacity:0.5;
      		transform:scale(0.5) rotate(10deg);
   	  }
   	  25%{
   	 	 	width:400px;
      		background: white;
      		opacity:0.7;
      		transform:scale(0.5) rotate(-30deg);
   	  }
   	  50%{
   	 	 	width:400px;
      		background: white;
      		opacity:0.7;
      		transform:scale(0.5) rotate(30deg);
   	  }
   	  75%{
   			width:400px;
   			background:white;
   			opacity:1;
   			transform:scale(1) rotate(0deg);
   		}
   	  to{
   			width:400px;
   			background:white;
   			opacity:1;
   			transform:scale(0.8) rotate(0deg);
   		}
		}
		img {
		width: 500px;
		height: 500px;
		margin: 20px 0px 15px 0px;
		animation: rotate 3s , background 1.5s infinite alternate;
		border-top-left-radius: 30px; 
		border-top-right-radius: 30px; 
		border-bottom-left-radius: 30px; 
		border-bottom-right-radius: 30px; 
		
	}
	
	@keyframes rotate {
		from {
			transform: rotateX(-30deg) rotateY(0deg);
		}
		50% {
			transform: rotateX(180deg) rotateY(0deg);
		}
		to {
			transform: rotateX(360deg) rotateY(0deg);
		}
	}
	
	@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@1,200&display=swap'
	);
	.gs-font{
		font-family: 'Grandstander', cursive;
	}