<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.study.board.mapper.Sample1Mapper">
	<insert id="insertCol1">
		INSERT INTO tbl_sample1(col1)
		VALUES(#{data})
	</insert>
	
	<insert id="insertCol2">
		INSERT INTO tbl_sample2(col2)
		VALUES(#{data})
	</insert>
</mapper>
















